management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus" # Expune endpoint-ul de monitorizare
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
      
