spring:
  application:
    name: cloud-native-btp-adapter

management:
  endpoints:
    web:
      exposure:
        include: [health, info, prometheus]
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
