apiVersion: apps/v1
kind: Deployment
metadata:
  name: btp-adapter
spec:
  replicas: 2
  selector:
    matchLabels:
      app: btp-adapter
  template:
    metadata:
      labels:
        app: btp-adapter
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
      - name: adapter
        image: adrianroman1/btp-adapter:latest
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
